
.navbar {
    padding: 10px;
    margin-top: 0px;
    top: 0px !important;
    margin-bottom: 2%;
    padding-bottom: 0px;
  }
  
  .display-button {
    /* position: relative; */
    border: none;
    margin: 1px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  /* Modal.css */
  
  .modal {
    position: absolute;
    top: 12%;
    display: flex;
    flex-direction: column;
  }
  
  .modal-content {
    background: #f9f8fb;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center;
  }



  .model_text{

    display: flex;
   margin-right: 40px;
  }




   /* card css */


  .cardTop{
    display: flex;
    justify-content: space-between;
  }

  .cardTop span{
    text-transform: uppercase;
  }
   .mainCard{
    background: white;
    width: 100%;
    border: 1px solid rgb(213, 212, 212);
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.cardTags{
    display: flex;
    align-items: center;
    gap: 5px;
}

.tags{
    width: max-content;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid silver;
}

.studentImage{

  width: 36px;
  height: 36px;
}

.studentImage img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}



/* Body css */


.HorizontalVector{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  background: #f4f4f9;
  padding: 5px 10px;
  justify-content: space-evenly;
}

.Individual_Card_Header{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 5px;
  width : 275px;
}


.root{
  border: 0px;
  margin: 0%;
}



.Display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VerticalCard{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.right{
  align-items: center;
  justify-content: center;
}
.right img{
  margin-right: 10px;
}